<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="navigation col-lg-1">
  <h1>{{ title }}</h1>
</div>

<div class="clearfix"></div>

<div *ngIf="identity" class="central col-lg-11">
  <p>Estas logueado en la aplicación</p>
</div>

<div *ngIf="!identity" class="row centrar container">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="col-lg-8">
      <p>
        <label for="">Correo electrónico</label>
        <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
        <label for="">Contraseña</label>
        <input type="text" #password ="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>
  <div class="col-lg-5">
    <h1>Registrate</h1>
    <form class="col-md-12">
      <p>
        <label for="">Nombre</label>
        <input type="text" class="form-control" required>
      </p>
      <p>
        <label for="">Apellidos</label>
        <input type="text" class="form-control" required>
      </p>
      <p>
        <label for="">Correo electrónico</label>
        <input type="text" class="form-control" required>
      </p>
      <p>
        <label for="">Contraseña</label>
        <input type="text" class="form-control" required>
      </p>
      <input type="button" value="Registrate" class="btn btn-primary">
    </form>
  </div>
</div>