<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="row d">
  <div  class="col-lg-1 navigation">
    <h1 class="head-title">
      <a [routerLink]="['/']">
        <i class="fa fa-music" aria-hidden="true"></i>{{title}}</a>
    </h1>
    <nav id="navigation">
      <a href="#">
        <i class="fa fa-search icons" aria-hidden="true"></i>
        Buscar
      </a>
      <a [routerLink]="['/artist', 1]" [routerLinkActive]="['actived']">
          <i class="fa fa-star icons" aria-hidden="true"></i>
        Artistas
      </a>
      <a href="#">
          <i class="fa fa-book icons" aria-hidden="true"></i>
        Albums
      </a>
    </nav>
    <nav id="user_logged">
      <div class="user-image">
        <img id="image_logged" src="{{url + 'get-image-user/' + identity.image}}"/>
      </div>
      <span id="name_user">
        {{identity.name}}
      </span>
      <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
        <i class="fa fa-cog icons" aria-hidden="true"></i>
        Mis datos
      </a>
      <a (click)="logout()">
          <i class="fa fa-sign-out icons" aria-hidden="true"></i>
          Salir
        </a>
    </nav>
  </div>
  <div [class.hidden]="!identity" class="col-lg-11">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!identity" class="row container">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <div *ngIf="errorMessage">
      <div class="alert alert-info">
        <strong>Error </strong>{{errorMessage}}
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="col-md-9">
      <p>
        <label for="">Correo electrónico</label>
        <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
        <label for="">Contraseña</label>
        <input type="text" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>

  <div class="col-lg-6">
    <h1>Registrate</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-info">
        {{alertRegister}}
      </div>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
      <p>
        <label for="">Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required>
        <span *ngIf="!name.valid && name.touched">
          El nombre es obligatorio
        </span>
      </p>
      <p>
        <label for="">Apellidos</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required>
        <span *ngIf="!surname.valid && surname.touched">
          los apellidos son obligatorio
        </span>
      </p>
      <p>
        <label for="">Correo electrónico</label>
        <input type="text" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
        <label for="">Contraseña</label>
        <input type="text" #password="ngModel" name="password" [(ngModel)]="userRegister.password" class="form-control" required>
        <span *ngIf="!password.valid && password.touched">
          la contraseña es obligatoria
        </span>
      </p>
      <input type="submit" value="Registrate" class="btn btn-primary">
    </form>
  </div>
</div>