html,body {
    background: #eeee;
    margin: 0px;
    height: 100%;
}

.head-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation {
    text-align: center;
    color: white;
    background: #1c1c1f;
  
   
}

.navigation a {
    color: #ddd;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation .icons {
    font-size: 25px;
    display: block;
    width: 100%;
    cursor: pointer;
}

.navigation a:hover {
    color:white;
}

.d {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

#user_logged {
    bottom: 0px;
    border-top: 1px solid #444;
    background: #1c1c1f;
    position: absolute;
    width: 75%;
}

#user_logged .user-image {
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}

#user_logged .user-image img {
    width: 57px;
}

.actived {
    border-bottom:  4px solid #84BD00;
    padding-bottom: 4px;
}